<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card m-4">
                <div class="card-body text-center">
                    <h5 class="subtitle">Ingrese con su cuenta favorita:</h5>

                    <a class="borderImage m-4" (click)="loginGoogle()">
                        <img src="../../../assets/img/google.png" alt="" width="180px">
                    </a>
                    <br>
                    <a class="borderImage m-4" (click)="loginFacebook()">
                        <img src="../../../assets/img/facebook.png" alt="" width="180px">
                    </a>
                    <br>
                    <a class="borderImage m-4" (click)="loginTwitter()">
                        <img src="../../../assets/img/Twitter.png" alt="" width="180px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>